@media(min-width:1100px) {
  nav .container {
    max-width: 1100px;
  }

  header .language {
    display: none;
  }
}
@media(max-width:1099px) {
  nav {
    display: none;
  }
}
@media(min-width:1050px) {
  header {
    padding: 20px 0;
  }
}
@media(max-width:1049px) {
  header {
    padding: 20px;
  }
}
@media(min-width:650px) {
  header {
    div:first-child {
      height: 130px;
    }

    img {
      height: 130px;
      top: 0;
    }

    ul {
      top: 0;
    }
  }
}
@media(max-width:649px) {
  header {
    background-position-x: -500px;

    div:first-child {
      height: 235px;
    }

    img {
      height: 120px;
    }

    img,
    ul {
      top: 115px;
    }
  }
}
@media(max-width:399px) {
  header {
    div:first-child {
      height: 185px;
    }

    img {
      height: 95px;
    }

    img,
    ul {
      top: 90px;
    }
  }
}

nav {
  text-align: left;
  background-color: #050505;
  padding: 20px 0;

  a {
    font-family: $title-font;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    margin: 0 40px;
  }

  a:first-child {
    margin-left: 0;
  }

  .language {
    margin: 0 0 0 10px;
    float: right;
  }
}

.language {
  font-size: 1.5em;
  opacity: 0.5;
}

.language.current {
  opacity: 1;
}

header {
  background-image: url("./images/background.jpg");
  background-size: cover;
  color: $header-color;

  .container {
    position: relative;
  }

  img {
    position: absolute;
    right: 0;
  }

  ul {
    position: absolute;
    left: 0;
    margin-top: 0;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 0.5em;
      font-size: 1em;
    }
  }

  .language {
    margin: 0 10px 0 0;
  }
}

header a,
nav a {
  color: $header-color;
}

header a:hover,
nav a:hover {
  color: white;
}
