@media(min-width:1100px) {
  nav {
    padding: 20px 0;
  }

  nav .container {
    max-width: 1100px;
  }

  nav .fas {
    display: none;
  }
}
@media(max-width:1099px) {
  nav {
    height: 32px;
    padding: 10px 0;
    position: relative;
  }

  nav .entry {
    position: absolute;
    display: block;
    height: 22px;
    background: $nav-background-color;
    width: 100%;
    padding: 15px;
    left: -120%;
    z-index: 1;
  }

  nav .entry:nth-child(3) {
    top: 52px;
  }

  nav .entry:nth-child(4) {
    top: 52px + 42px;
  }

  nav .entry:nth-child(5) {
    top: 52px + 84px;
  }

  nav .entry:nth-child(6) {
    top: 52px + 126px;
  }

  nav .entry:nth-child(7) {
    top: 52px + 168px;
  }

  nav .fas {
    color: $header-color;
    font-size: 1.4em;
    line-height: 32px;
    cursor: pointer;
  }

  nav .fas:hover {
    color: white;
  }
}
@media(min-width:1050px) {
  header {
    padding: 20px 0;
  }
}
@media(max-width:1049px) {
  header {
    padding: 20px;
  }
}
@media(min-width:650px) {
  header {
    div:first-child {
      height: 130px;
    }

    img {
      height: 130px;
      top: 0;
    }

    ul {
      top: 0;
    }
  }
}
@media(max-width:649px) {
  header {
    background-position-x: -500px;

    div:first-child {
      height: 235px;
    }

    img {
      height: 120px;
    }

    img,
    ul {
      top: 115px;
    }
  }
}
@media(max-width:399px) {
  header {
    div:first-child {
      height: 185px;
    }

    img {
      height: 95px;
    }

    img,
    ul {
      top: 90px;
    }
  }
}

nav {
  text-align: left;
  background-color: $nav-background-color;

  a {
    font-family: $title-font;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    margin: 0 40px;
  }

  a:first-child {
    margin-left: 0;
  }

  .language {
    margin: 0 0 0 10px;
    float: right;
  }

  .language:last-child {
    margin: 0;
  }
}

.language {
  font-size: 1.5em;
  opacity: 0.5;
}

.language.current {
  opacity: 1;
}

header {
  background-image: url("./images/background.jpg");
  background-size: cover;
  color: $header-color;

  .container {
    position: relative;
  }

  img {
    position: absolute;
    right: 0;
  }

  ul {
    position: absolute;
    left: 0;
    margin-top: 0;
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 0.5em;
      font-size: 1em;
    }
  }
}

header a,
nav a {
  color: $header-color;
}

header a:hover,
nav a:hover {
  color: white;
}
