@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./webfonts/open-sans-latin-400-normal.woff2") format('woff2'), url("./webfonts/open-sans-all-400-normal.woff") format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./webfonts/roboto-slab-latin-400-normal.woff2") format('woff2'), url("./webfonts/roboto-slab-all-400-normal.woff") format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
$title-font: 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;
$header-color: #f0f0f0;
$main-color: #444;

body {
  font-family: 'Open sans', 'Helvetica', 'Arial', sans-serif;
  color: $main-color;
  font-size: 100%;
  margin: 0;
}
@media(min-width:1100px) {
  nav .container {
    max-width: 1100px;
  }

  header .language {
    display: none;
  }
}
@media(max-width:1099px) {
  nav {
    display: none;
  }
}
@media(min-width:1050px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  header {
    padding: 20px 0;
  }
}
@media(max-width:1049px) {
  .container {
    max-width: 100%;
    margin: 0;
    padding: 0 20px;
  }

  header {
    padding: 20px;
  }
}
@media(min-width:650px) {
  h1 {
    font-size: 2.5em;
  }

  .subtitle {
    font-size: 1.75em;
  }

  .job-title {
    font-size: 1.3em;
  }

  header {
    div:first-child {
      height: 150px;
    }

    img {
      height: 150px;
    }
  }
}
@media(max-width:649px) {
  h1 {
    font-size: 1.5em;
  }

  .subtitle {
    font-size: 1em;
  }

  header {
    div:first-child {
      height: 130px;
    }

    img {
      height: 130px;
    }
  }

  .job-title {
    font-size: 1em;
  }

  .location,
  .timespan {
    font-size: 1em;
  }
}
@media(min-width:800px) {
  .tools {
    max-width: 741px;
  }
}
@media(max-width:799px) {
  .skills img {
    display: none;
  }

  .tools {
    max-width: 371px;
  }
}
@media(max-width:399px) {
  body {
    font-size: 80%;
  }

  h1 {
    font-size: 1.3em;
  }

  header {
    div:first-child {
      height: 80px;
    }

    img {
      height: 80px;
    }
  }

  .tools {
    max-width: 220px;
  }
}

h1 {
  font-family: $title-font;
  text-align: center;
  margin-top: 0;
}

.subtitle {
  font-family: $title-font;
  text-align: center;
}

h2 {
  font-family: $title-font;
  font-size: 2.5em;
  text-align: center;
  margin-top: 0;
}

h3 {
  font-family: $title-font;
  font-size: 1.5em;
  margin: 0;
}

.job-title {
  text-align: left;
}

a {
  cursor: pointer;
  color: $main-color;
  text-decoration: none;
}

a:hover {
  color: black;
}

nav {
  text-align: left;
  background-color: #050505;
  padding: 20px 0;

  a {
    font-family: $title-font;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    margin: 0 40px;
  }

  a:first-child {
    margin-left: 0;
  }

  .language {
    margin: 0 0 0 10px;
    float: right;
  }
}

.language {
  font-size: 1.5em;
  opacity: 0.5;
}

.language.current {
  opacity: 1;
}

header {
  background: url("./images/background.jpg");
  background-size: cover;
  color: $header-color;

  .container {
    position: relative;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
  }

  ul {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;

    li {
      list-style: none;
      margin-bottom: 0.45em;
      font-size: 0.9em;
    }
  }

  .language {
    margin: 0 10px 0 0;
  }
}

header a,
nav a {
  color: $header-color;
}

header a:hover,
nav a:hover {
  color: white;
}

main {
  .intro {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 1.1em;
    font-style: italic;
  }

  article {
    padding: 20px 0;
  }

  article:nth-child(odd) {
    background-color: white;
  }

  article:nth-child(even) {
    background-color: #d0d0d0;
  }

  section {
    padding: 20px 0;
    text-align: justify;
  }

  a {
    text-decoration: underline;
  }

  li {
    margin-bottom: 0.5em;
  }

  section p:last-child {
    margin-bottom: 0;
  }

  .section-title {
    display: flex;

    div div {
      margin: 10px 0;
    }

    img {
      width: 150px;
      height: 150px;
      margin-right: 20px;
    }
  }

  .mission {
    display: flex;
    margin: 0 0 20px;

    img {
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }
  }

  .skills {
    max-width: 741px;
    margin: 0 auto;

    img {
      width: 100px;
      height: 100px;
      float: right;
    }
  }

  .tools {
    margin: 0 auto;

    .tooltip-container {
      position: relative;
      cursor: pointer;
    }

    .tooltip {
      display: none;
      position: absolute;
      z-index: 1;
      top: 10px;
      left: 35px;
      padding: 0.5rem;
      background: #333;
      color: $header-color;
      font-size: 0.8em;
      border-radius: 3px;
      overflow: visible;
      white-space: nowrap;
    }

    .tooltip-container:focus .tooltip,
    .tooltip-container:hover .tooltip {
      display: inline-block;
    }

    img {
      display: inline-block;
      margin: 10px;
      width: 50px;
    }
  }
}

footer {
  background-color: #333;
  color: $header-color;
  padding: 20px 0;
  font-size: 0.8em;
  text-align: center;

  i {
    color: #c90101;
  }
}
