@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./webfonts/open-sans-latin-400-normal.woff2") format('woff2'), url("./webfonts/open-sans-all-400-normal.woff") format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("./webfonts/roboto-slab-latin-400-normal.woff2") format('woff2'), url("./webfonts/roboto-slab-all-400-normal.woff") format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
$title-font: 'Roboto Slab', 'Helvetica', 'Arial', sans-serif;

body {
  font-family: 'Open sans', 'Helvetica', 'Arial', sans-serif;
  color: #444;
  font-size: 100%;
  background-color: #ededed;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

h1 {
  font-family: $title-font;
  font-size: 2.5em;
  text-align: center;
  margin-top: 0;
}

.subtitle {
  font-family: $title-font;
  font-size: 1.75em;
  text-align: center;
}

h2 {
  font-family: $title-font;
  font-size: 2.5em;
  text-align: center;
  margin-top: 0;
}

h3 {
  font-family: $title-font;
  font-size: 1.5em;
  margin: 0;
}

.job-title {
  font-size: 1.3em;
}

nav {
  text-align: center;
  background-color: #333;
  padding: 20px 0;

  a {
    font-family: $title-font;
    font-size: 1.2em;
    color: #e0e0e0;
    text-decoration: none;
    cursor: pointer;
    margin: 0 40px;
  }

  a:hover {
    color: #fff;
  }
}

header {
  padding: 20px 0;
  background-color: #d0d0d0;

  div:first-child {
    height: 150px;
  }

  .container {
    position: relative;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 150px;
  }

  ul {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0;

    li {
      list-style: none;
      margin-bottom: 0.45em;
      font-size: 0.9em;
    }
  }
}

main {
  .intro {
    padding: 0 0 20px;
    text-align: justify;
    font-size: 1.1em;
    font-style: italic;
  }

  article {
    padding: 20px 0;
  }

  article:nth-child(odd) {
    background-color: #ffffff;
  }

  article:nth-child(even) {
    background-color: #d0d0d0;
  }

  section {
    padding: 20px 0;
    text-align: justify;
  }

  a {
    color: #444;
  }

  li {
    margin-bottom: 0.5em;
  }

  section p:last-child {
    margin-bottom: 0;
  }

  .section-title {
    display: flex;

    div div {
      margin: 10px 0;
    }

    img {
      width: 150px;
      margin-right: 20px;
    }
  }

  .mission {
    display: flex;
    margin: 0 0 20px;

    img {
      width: 100px;
      height: 100px;
      margin-right: 20px;
    }
  }

  .skills {
    width: 741px;
    margin: 0 auto;

    img {
      width: 100px;
      height: 100px;
      float: right;
    }
  }

  .tools {
    width: 741px;
    margin: 0 auto;

    img {
      display: inline-block;
      margin: 10px;
      width: 50px;
    }
  }
}

footer {
  background-color: #333;
  color: #e0e0e0;
  padding: 20px 0;
  font-size: 0.8em;
  text-align: center;

  i {
    color: #c90101;
  }
}
